{% extends 'base.html' %}

{% load static %}

{% block title %}Create post{% endblock %}

{% block content %}
    <div class="account-container">
        <div class="banner-container" style="height: 200px; width: 225px; border-radius: 10px; margin: 0px auto auto 0px; padding: 20px">
            <div class="actions">
                <a href="{% url 'profile'%}"><img src="{% static 'images/profile_icon.png' %}" alt="Profile"><p style="margin-left: 12px;">Profile</p></a>
            </div>
            <div class="actions">
                <a href="#" style="color: #F8B400; font-weight:bold;"><img src="{% static 'images/bag_icon.png' %}" alt="Post management"><p style="margin-left: 12px;">Post management</p></a>
            </div>
        </div>
        <div class="banner-container" style="height: fit-content; width: 732px; border-radius: 10px; margin: 0px 0px auto auto; justify-content: start; padding-bottom: 20px;">
            <h2>Post management</h2>
            <div class="type-container">
                <a style="border-bottom:2px solid #F8B400; background-color:rgb(234, 231, 231);">Display</a>
                <a>Hidden</a>
                <a>Pending</a>
                <a>Draft</a>
            </div>
            {% for post in posts %}
            <div class="product" style="width: 686px; height: 205px; flex-direction: row;">
                <img src="{{ post.image.url }}" alt="Product image" style="margin:9px; width: auto; height: 187px;" onclick="location.href='{% url 'view post' post.id %}'">
                <div class="product-details">
                    <left onclick="location.href='{% url 'view post' post.id %}'">
                        {% if post.user == request.user %}
                            <p>{{ post.title }}</p>
                            <p>Category: {{ post.product }}</p>
                            <b>{{ post.price }} đ</b>
                            <p style="color: #9E9E9E">Created: {{ post.created_at|timesince }} ago</p>
                        {% else %}
                            <p>No post available</p>
                        {% endif %}
                    </left>
                    <right>
                        <div class="dropdown-container" tabindex="0">
                            <img src="{% static 'images/more_horizontal.png' %}" alt="More option">
                            <div class="dropdown-content">
                                <a href="{% url 'edit post' post.id %}">Edit</a>
                                <a href="{% url 'delete post' post.id %}">Delete</a>
                            </div>
                        </div>
                    </right>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
