{% extends 'base.html' %}

{% load static %}

{% block title %}Sign Up Page{% endblock %}

{% block content %}
    <div class="login-banner" style="height: 686px;">
        <div class="banner-color" style="height: 686px;">
            <h1 style="margin: 0 auto">Welcome to MBX</h1>
            <h3 style="margin: 0 auto; font-weight: normal;">Have an account?</h3>
            <form action="{% url 'login' %}" method="get" class="centered-form">
                <input type="submit" value="Sign In" class="sub-button" />
            </form>
        </div>
        <div class="banner-white" style="height: 686px;">
            <div class="title-container">
                <h1>Sign Up</h1>
                <div class="other-login">
                    <img src="{% static 'images/fb_icon.png' %}" alt="Facebook icon" width="35" height="35">
                    <img src="{% static 'images/gg_icon.png' %}" alt="Google icon" width="35" height="35">
                    <img src="{% static 'images/x_icon.png' %}" alt="X icon" width="35" height="35">
                </div>
            </div>
            <form method = "POST" class="login-form">
                {% csrf_token %}
                {% if form.errors %}
                    <div style="color: red; text-align: left; margin-bottom: 10px;">
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            {% for error in form.errors.values %}
                                {% for message in error %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                <div class="form-label">Username</div>
                {{form.username}}
                <div class="form-label">Password</div>
                {{form.password}}
                <div class="form-label">Re Password</div>
                {{form.rePassword}}
                <div class="form-label">Phone Number</div>
                {{form.phoneNumber}}
                <div class="form-label">Email</div>
                {{form.email}}
                <input type = 'hidden'/>
                <div class="form-options" style="margin-top: 0px; margin-bottom: 15px;">
                    <label>
                        <input type="checkbox" name="agree" required>
                        <a href="#">I agree with Terms & Conditions</a>
                    </label>
                </div>
                <input type="submit" value="Sign Up" class="custom-button" />
            </form>
        </div>
    </div>
{% endblock %}