{% extends 'base.html' %}

{% load static %}

{% block title %}Sign In Page{% endblock %}

{% block content %}
    <div class="login-banner" style="height:537px; width: 560px; margin: 50px auto;">
        <div class="banner-color" style="height: 537px; width: 520px">
            <div class="banner-white" style="height: 425px; width: 357px; margin: 50px auto;">
                <div class="title-container" style="margin: 0 auto; justify-content: center;">
                    <h1>Change Password</h1>
                </div>
                <form method = "POST" class="login-form">
                    {% csrf_token %}
                    {% if form.errors %}
                            <p style="color: red;">Tên tài khoản hoặc mật khẩu của bạn không đúng!</p>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-label">New Password</div>
                    {{form.new_password}}
                    <div class="form-label">Re Password</div>
                    {{form.rePassword}}
                    <input type = 'hidden'/>
                    <input type="submit" value="Change password" class="custom-button" />
                </form>
            </div> 
        </div>
    </div>
{% endblock %}