{% extends 'base.html' %}

{% load static %}

{% block title %}Edit post{% endblock %}

{% block content %}
<div class="banner-container" style="height: fit-content; border-radius: 10px; margin-top: 20px; flex-direction: row; padding-bottom: 60px;">
    <div class="banner-image">
        <h2 style="padding:0px;">Images and videos</h2>
        <div class="image-container">
            <img src="{% static 'images/img_add_icon.png' %}" alt="Add image" width="84">
            <p>Upload up to 6 photos and/or maximum 1 video</p>
        </div>
            
    </div>
    <div class="banner-information">
        <form method="POST" class="post-form" id="postForm" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                    <p style="color: red;">Tên tài khoản hoặc mật khẩu của bạn không đúng!</p>
            {% endif %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-label">Product details</div>
            {{postForm.image}}
            {{postForm.product}}
            {{postForm.title}}
            {{postForm.price}}
            {{postForm.description}}
            <div class="form-label">Seller details</div>
            {{postForm.province}}
            {{postForm.district}}
            {{postForm.ward}}
            <input type = 'hidden'/>
        </form>
    </div>
</div>
<div class="submit-banner">
    <button class="sub-button" style="width: 277px; height: 45px; margin: 0;">Preview</button>
    <button class="sub-button" style="width: 277px; height: 45px; margin: 0;">Cancel</button>
    <input type="submit" form="postForm" value="Confirm change" class="custom-button" style="width: 277px; height: 45px;" />
</div>
{% endblock %}

{% block footer %}{% endblock %}
