{% extends 'base.html' %}

{% load static %}

{% block title %}View post{% endblock %}

{% block content %}

    <div class="view-post-container">
        <p>Home  >  {{ post.product }}  > <span class="title">{{ post.title }}</span></p>
        <p style="font-size:18px;"><span class="title">12.345</span> new used cars with good prices updated 11/11/2024 </p>
        <div class="view-post">
            <div class="product-view">
                <div class="banner-container" style="width:648px; height: 411px; border-radius: 10px; margin:0 0 10px 0;">Chỗ để ảnh</div>
                <div class="banner-container" style="width:648px; height: 104px; border-radius: 10px; margin:0 0 10px 0;">Chỗ để ảnh</div>
                <div class="banner-container" style="width:648px; height: fit-content; border-radius: 10px; margin:0 0 10px 0;"> 
                    <h2 style="padding:0px; margin-left:29px;">Description</h2>
                    <p style="padding:0px; margin-left:29px;">{{ post.description }}</p>
                </div>
            </div>
            <div class="seller-view">
                <div class="banner-container" style="width:312px; height: 200px; border-radius: 10px; margin:0 0 10px 0; justify-content: start;">
                    <h2 style="padding:0px; margin-left:29px;">{{ post.title }}</h2>
                    <b style="padding:0px; margin-left:29px; color: #FF9800">{{ post.price }} đ</b>
                    <p style="padding:0px; margin-left:29px;"> {{ post.ward }} • {{ post.district }} • {{ post.province }}</p>
                    <p style="padding:0px; margin-left:29px; color: #9E9E9E">{{ post.created_at|timesince }}</p>
                    <button class="custom-button" style="width: 275px; height: 45px; margin: 29px;">Chat with seller</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
