body {
  margin: 0;
  font-family: 'open sans', sans-serif;
  background-color: #f4f4f4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #FAD266;
}

.logo-and-domain {
  display: flex;
  align-items: center; 
}

.logo img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%; 
  overflow: hidden; 
  margin-right: 10px; 
  margin-left: 10px; 
  width: 100%; 
  height: auto; 
}

.domain p {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.domain a {
  text-decoration: none;
}

.category {
  display: flex; 
  align-items: center; 
}
.category a {
  display: flex; 
  text-decoration: none; 
  font-size: 15px;
  color: #000000; 
}

.category img {
  width: 25px; 
  height: auto; 
  object-fit: contain; 
}

.category a:hover {
  opacity: 0.5; 
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 0px;
  font-size: 15px; 
}

.search-bar input {
  width: 550px;
  border-radius: 10px; 
  border: 1px solid #ffffff; 
  font-size: 15px; 
}

.search-bar input:focus {
  border-color: black;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 550px;
  height: 30px;
}

.search-icon {
  padding: 13px 10px 10px 8px;
  position: absolute;
  color: #888;
}

.search-wrapper input[type="text"] {
  padding: 10px 10px 10px 30px; 
  outline: none;
}

.icon img{
  width: 35px;
  height: auto;
  cursor: pointer;
  margin-top: 5px;
}

.icon:hover {
    opacity: 0.5; 
}

.actions{
  display: flex;
  align-items: center;
}

.actions a{
  display: flex; 
  text-decoration: none;
  color:#000000;
  font-size: 14px;
}

.actions img {
  width: 35px; 
  height: auto; 
  object-fit: contain; 
}

.actions a:hover {
  opacity: 0.5;
}

.create-post {
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #FF8F00; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  width: 140px;
  height: 38px;
  text-decoration: none; 
}

.create-post a {
  display: flex;
  color: white; 
  text-decoration: none; 
}

.create-post img {
  width: 35px; 
  height: auto; 
  object-fit: contain; 
}

.create-post:hover {
  background-color: rgb(255, 175, 0, 0.9);
}

.no-account {
  position: relative;
  display: inline-block;
  z-index: 10; 
}

.no-account a {
  display: flex; 
  text-decoration: none; 
  font-size: 15px;
  color: #000000; 
}

.no-account img{
  width: 35px; 
  height: auto; 
  object-fit: contain; 
}

.no-account a:hover {
  opacity: 0.5;
}

.account {
  position: relative;
  display: inline-block;
  z-index: 10; 
}

.account a {
  display: flex; 
  text-decoration: none; 
  font-size: 15px;
  color: #000000; 
}

.account img{
  width: 35px; 
  height: auto; 
  object-fit: contain; 
}

.account a:hover {
  opacity: 0.5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: -150px;
  width: 272px;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.2);
  z-index: 10;
  border-radius: 5px;
  max-height:300px;
  overflow:scroll; 
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content group-title {
  color: #616161;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #FCE199;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #E0E0E0;
  opacity: 1;
}

.account:hover .dropdown-content {
  display: block;
}

.account:hover .dropbtn {
  background-color: red;
}

.footer {
  background-color: #ffffff;
  text-align: center;
  position: relative;
  border-top: 15px solid #FAD266;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 300px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: left;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icons a img {
  width: 35px;
  height: 35px;
}

hr {
  border: none;
  border-top: 1px solid #CCC;
  margin: 20px auto;
  width: 65%;
}

.footer-bottom {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/*Home Page*/
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  height: 260px;
  width: 984px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto auto 10px auto;
  border-radius: 0px;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 964px;
  background-color: #FAD266;
  border-radius: 10px;
  margin: auto;
  background-image: url("../images/ad1.webp");
  background-size: cover;
}

.banner-container h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 0 0 0 30px;
}

.products-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 930px;
  background-color: #ffffff;
  margin: 0 auto 14px auto;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 5px;
  border: #E0E0E0 1px solid;
}

.products-container::-webkit-scrollbar {
  display: none;
}

.show-more {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 930px;
  background-color: #ffffff;
  margin: 0 auto 10px auto;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  border: #E0E0E0 1px solid;
}

.show-more:hover {
  background-color: #FAD266;
}

.show-more a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.products-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 198px;
  height: 313px;
  background-color: #ffffff;
  border-radius: 0px;
  border: #E0E0E0 1px solid;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.products-container a:hover {
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.2);
  z-index: 1;
}

.products-container a img {
  width: 173px;
  border-radius: 0px;
  margin: 0 12px;
}

.products-container a p {
  font-size: 14px;
  margin: 5px 12px 0 12px;
  text-align: left;
}

.products-container a b {
  font-weight: bold;
  margin: 12px;
  color: #FF9D00;
  font-size: 16px;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 284px;
  height: 408px;
  background-color: #ffffff;
  border-radius: 0px;
  border: #E0E0E0 1px solid;
}

.shop img {
  width: 173px;
  border-radius: 0px;
  margin: 0 12px;
}

.shop p {
  font-size: 14px;
  margin: 5px 12px 0 12px;
  text-align: left;
}

.shop b {
  font-weight: bold;
  margin: 12px;
  color: #FF9D00;
  font-size: 16px;
}



/*Login Page*/
.login-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin: 50px auto;
  height: 469px;
  width: 800px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.2);
}

.banner-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 400px;
  height: 469px;
  background-color: #ffffff;
  border-radius: 0px; 
  padding: 0 20px 0 20px;
}

.banner-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 400px;
  height: 469px;
  background-color: #FAD266;
  border-radius: 0px;
  padding: 0 20px 0 20px;
}

.login-banner .title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.title-container .other-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-label {
  font-size: 16px;
  margin: 0 0 12px 0;
  text-align: left;
  font-weight: bold;
}

.login-form {
  width: 100%;
}

.custom-button {
  background-color: #F8B400;
  color: #fff;
  border: none;
  border-radius:50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 10px;
}

.custom-button:hover {
  background-color: rgb(255, 175, 0, 0.7);
}

.custom-button:active {
  background-color: rgb(255, 175, 0, 0.8);
}

.login-form input[type="text"],
.login-form input[type="username"],
.login-form input[type="phone"],
.login-form input[type="email"],
.login-form input[type="password"] {
  margin-bottom: 15px;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  width: 327px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.form-options a {
  display: block;
  text-decoration: none;
  color: #808080;
}

.form-options a:hover {
  color: #F8B400;
}

.form-options label {
  display: flex; 
  align-items: center;
  
}
.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;     
  width: 100%;
}            

.sub-button {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius:50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
  height: 48px;
  margin: 20px auto;
}

.sub-button:hover {
  background-color: #FCE199;
}

.sub-button:active {
  background-color: rgb(253, 220, 128);
}

/*Post Management Page*/
.banner-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin: 0 84px 10px 29px;
}

.banner-image .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 213px;
  width: 283px;
  background-color: #F4F4F4;
  border-style: dashed;
  border-color: #F8B400;
  margin: auto auto 10px auto;
  border-radius: 0px;
  padding: 40px;
  box-sizing: border-box;
}

.banner-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  margin: 0.83em 35px 10px auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 198px;
  height: 313px;
  background-color: #ffffff;
  border-radius: 0px;
  border: #E0E0E0 1px solid;
  margin: auto;
  cursor: pointer;
}

.product:hover {
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.2);
  z-index: 1;
}

.product img {
  width: 173px;
  border-radius: 0px;
  margin: 0 12px;
}

.product p {
  font-size: 14px;
  margin: 5px 12px 0 12px;
  text-align: left;
}

.product b {
  font-weight: bold;
  margin: 12px;
  color: #FF9D00;
  font-size: 16px;
}

.post-form select[type="text"], 
.post-form input[type="text"],
.post-form input[type="number"],
.post-form textarea[type="text"] {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  width: 553px;
  height: 48px;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
}

.submit-banner {
  position: fixed; 
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 72px;
  width: 100%;
  background-color: #ffffff;
  border-top: #E0E0E0 1px solid;
}

/*Account Management Page*/
.account-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  margin: 20px auto;
  height: 1158px;
  width: 984px;
}

.type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 473px;
  height: 48px;
  border-radius: 0px;
  margin: 0 auto 20px auto;
  font-size: 16px;
}

.type-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 236px;
  height: 48px;
  background-color: none;
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.product-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 100%;
  height: 187px;
  margin: 9px 0;
}

.product-details left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  width: 90%;
  height: 100%;
}

.product-details right {
  display: flex;
  width: 10%;
  height: 100%;
}

.dropdown-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.dropdown-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
}

.dropdown-container:focus-within .dropdown-content {
  display: block;
  overflow: hidden;
  width: 100px;
  left: -10px;
}

.chat-dropdown {
  position: relative;
}

.chat-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-dropdown:hover .dropdown-content {
  display: block;
}

.chat-dropdown .dropdown-content a {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-bottom: 5px;
}

.chat-dropdown .dropdown-content p {
  margin: 0;
  color: gray;
  font-size: 14px;
}

.chat-popup {
  display: none; /* Hide the popup by default */
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 9999;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  background-color: #F9C332;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header span {
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.chat-messages {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

#chat-input {
  margin-bottom: 15px;
  padding: 9px;
  font-size: 16px;
  border: 1px solid #D2CFCF;
  border-radius: 10px;
  width: 90%;
  height: 33px;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
  resize: none;
  overflow: hidden;
}

#chat-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
}

#chat-form img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#chat-form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*View Post Page*/
.view-post-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  margin: 27px auto;
  height: 1158px;
  width: 984px;
}

.view-post-container p {
  font-size: 16px;
  margin: 0 0 12px 0;
  text-align: left;
  color: #000000;
}

.view-post-container p span {
  font-weight: bold;
  color: #FF9800;
}

.view-post {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.product-view {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  width: 648px;
  height: fit-content;
  margin: 0px;
}

.seller-view {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  width: 312px;
  height: fit-content;
  margin: 0px 0px 9px auto;
}

.chat-link {
  background-color: #F8B400;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px;
  margin: 0 auto 10px auto;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: border-box;
}

.chat-link:hover {
  background-color: rgb(255, 175, 0, 0.7);
}

.chat-link:active {
  background-color: rgb(255, 175, 0, 0.8);
}

